%section.accueil#accueil
  %header
    %hgroup
      %h1 Hazart
      %h2 Duo acoustic Folk/Rock
  %div#mainNav
    %ul.nav
      %li
        %a{:href=>"#accueil"} Accueil
      %li
        %a{:href=>"#concerts"} Concerts
      %li
        %a{:href=>"#photos-videos"} Photos/Vidéos
      %li
        %a{:href=>""} Contacts
    %a.back{:href=>"#accueil", :title =>"Retour à l'accueil"}
  %div#ecusson
  
  %figure{:class => "responsive", :title=> "Hazart", 'data-media700' => "img/hazartBig.png", 'data-media300' => "img/hazartSmall.png", 'data-media' => "img/hazartBig.png"}
    %noscript
      %img{:alt => "Hazart", :src => "img/hazartBig.png"}
    %figcaption.band.name.alain Alain Dietrichs
    %figcaption.instrument.guitare à la guitare
    %figcaption.band.name.maite Maïte Vilar
    %figcaption.instrument.chant au chant

  %footer.band
    :markdown
      Il n'y a pas de hasard, il n'y a que des rendez-vous...  
      Nos amis communs peintres et musiciens nous ont mené jusqu'ici... La belle brochette ! Le cap est maintenu, le plaisir est vif, la motivation forte quand à l'inspiration... Tant qu'il y aura des rendez-vous elle restera stimulée !


%section.concerts#concerts
  %div.test
    %div
      :markdown
        24/03/12 : Concert au Maltais à Chartres (28)


        11/02/12 : Concert au Mélodia Café à Chartres (28)


        02/12/11: Concert pour le Téléthon à Angerville (91)


        26/11/11 : Concert au Ellan-Vannin à Chartres (28)


        19/11/11 : Concert au Mélodia Café à Chartres (28)


        09/10/11: Concert privé à Angerville (91)


        08/10/11 : Concert au Maltais à Chartres (28)


        27/08/11 : Concert à la piscine de Méréville (91) avec Julien Dietrichs à la basse


        11/07/11 : Concert au Prieuré de Montverdun (42)


        09/07/11 : Concert à l'auberge "Les Pensées Sauvages" à Chenereilles (42)


        02/07/11 : Concert au restaurant "Le Golf du Lac" à Savigneux (42)


        01/07/11 : Concert au Pub "L'Annexe" à Montbrison (42)


        25/06/11 : Concert à "La Bella Vita" à Angerville (91)


        04/06/11 : Concert à "La Bella Vita" à Angerville (91)


        23/04/11 : Concert Pop/Rock à Morigny (91) avec Enzo Dac (basse) et Eric Tuznik (batterie)

        16/04/11 : Concert au pub "La Terrasse" à Etampes (91) avec Enzo Dac à la basse et Eric Tuznik à la batterie


        05/03/11 : Mini-concert au Centre Culturel d'Angerville (91), concert pour l'exposition "Les Rencontres de Valnay" au Château de Valnay(91)


        03/12/10 : Concert pour le Téléthon à Angerville (91)


        19/11/10 : Concert au Gibus Club à Paris avec Enzo Dac à la basse et Eric Tuznik à la batterie


        06/11/10 : Concert à "La Bella Vita" à Angerville (91)


        18/09/10 : Fête de la Fraternité à Arcueil (94)


        04/09/10 : Concert sous la Halle de Méréville (91)


        17/07/10 : Restaurant "Au Repos de la Vallée" à Boissy-la-Rivière (91)


        19/06/10 : Fête de la musique à Morigny (91)


        06/06/10 : Concert dans l'église de La Forêt-Sainte-Croix (91) avec Enzo Dac aux percussions


        22/05/10 : Concert pour le nouvel an Khmer avec le groupe "Phoumène" à Elancourt (78)


        24/04/10 : Fraternité Sud-Essonne à Morigny (91)


        15/04/10 : Restaurant "Au Repos de la Vallée" à Boissy-la-Rivière (91)


        12/12/09 : Concert au Centre Culturel de Méréville (91)

%section.multimedia#photos-videos
  %h3#photoGal Photos
  %div.photos#photos
    %div.bck
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/0003_1.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/26386_401097562280_726337280_3718842_1779000_n.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/arcueilface14.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/boissyii6.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/concert-la-terrasse-002.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/dsci0489.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/dscn1002_1.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/duo-hazart-28229.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/gibus14.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/halle03.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/hazart-savigneux.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/img_1415.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/morigny_21.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/pic_0026_1.jpg'}
    %div.photo
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/vlcsnap-2011-04-25-17h37m09s88.jpg'}

  %h3#videoGal Vidéos
  %div.videos#videos
    %div.bck
    %div.video
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/0003_1.jpg'}
    %div.video
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/26386_401097562280_726337280_3718842_1779000_n.jpg'}
    %div.video
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/arcueilface14.jpg'}
    %div.video
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/boissyii6.jpg'}
    %div.video
      %a{:href => ""}
        %img{:src => 'img/photos/thumbs/concert-la-terrasse-002.jpg'}